.topbar{
position:fixed;
background-color:#F1FF3F;
top:0;
left:0;
right:0;
z-index: 1;
height:40px;
}
.searchBox{
position:relative;
left:50%;
padding-top:5px;
margin-left:-250px;
margin-bottom:50px;
//width:100%;
//display:block;
}
.pageContainer{
position:relative;
width:100%;
top:50px;
}
.video{
}
.relationVideo{
position:relative;
float:right;
width:35%;
}
.videoList{
position: relative;
float: left;
height: 150px;
width: 300px;
background-color: #CC66FF;
padding: 3px;
margin: 10px;
border: solid 3px #A7A7A8;
border-radius: 10px;
}

/*.videoList{
position:relative;
left:50%;
margin-left:-350px;
height:150px;
//width:30em;
width:550px;
	  background-color:#CC66FF;
}*/
.videoList:hover{
background-color:#EFEFB6;
transition:1s;
box-shadow: 0 3px 5px rgba(253, 25, 25, 0.4);
}
.relationVideo .videoList{
position:relative;
left:auto;
margin-left:auto;
height:100px;
width:100%;
//height:150px;
max-width: 500px;
}
.videoList img{
float:left;
height:100%;
width:30%;
}
.videoList .info{
}
.videoList .info *{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.jsondata{
visibility: hidden;
}
.listEditor{
		position:absolute;
		right:0px;
		bottom:0px;
		z-index:99;
}
.videoPlay {
position:relative;
width:60%;
float:left;
}
.videoPlay *{
//width:60%;
padding-top:0.2em;
padding-bottom:0.2em;
clear:left;
clear:right;
}
.videoPlay .title{
		font-size:1.3em;
font-weight: bolder;
}
.videoPlay .author{
font-weight: bold;
font-size:1.1em;
}
.videoPlay .infoRow {
}
.videoPlay .viewCount{
position:relative;
width:auto;
float:left;
}
.videoPlay .favoriteCount{
position:relative;
width:auto;
float:right;
}
.videoPlay .content{
margin-top:1.5em;
margin-bottom:1.5em;
background-color:#456789;
clear:left;
clear:right;
}
.videoPlay table{
width:30%;
}
.commentDiv{
position:relative;
width:60%;
float:left;
//z-index: -1;
}
.comment{
border-radius: 10px;
border: solid 3px #A7A7A8;
margin-bottom:5px;
background-color: rgba(95, 100, 10, 0.2);
min-height: 80px;
}
.comment *{
padding:3px;
}
.comment .name{
		font-size:1.5em;
		font-weight:bold;
}
.comment .date{
		font-size:0.7em;
}
.comment .content{
}
/*signin.php*/
.signin{
		        text-align:center;
}
.userSetting{
		height:40px;
		width:40px;
}
img.icon{
		width: 1em;
		height: 1em;
}
